@import '../../styles/variables.scss';

.tm-color-box {
    width: 100px;
    height: 100px;
    &.primary {
        background: $blue;
    }

    &.success {
        background: $green;
    }

    &.danger {
        background: $red;
    }

    &.warning {
        background: $yellow;
    }
    
}