// 主题色
$white: #ffffff !default;
$black: #161824 !default;
$gray: #e4dfd7 !default;


// 功能色
$blue: #126bae   !default;
$red: #ed3321 !default;
$yellow: #fbda41 !default;
$green: #41b349 !default;


// 字体系统
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
'Noto Color Emoji' !default;

$font-family-monospace: $font-family-sans-serif !default;
$font-family-basic: $font-family-sans-serif !default;
